NODE_ENV=development
VITE_ENV=development

BACKEND_PORT=3000

ADMIN_PORTAL_URL=http://localhost:5173
CLIENT_PORTAL_URL=http://localhost:5174
API_BASE_URL=http://localhost:3000

PG_CONNECTION_STRING=postgresql://xxxxxxxxxxxxxxxxxx

CLERK_PUBLISHABLE_KEY=pk_test_xxxxxxxx
CLERK_SECRET_KEY=sk_test_xxxxxxxx
CLERK_JWT_KEY=xxxxxxxxxxxx
CLERK_SIGN_IN_URL=/sign-in
CLERK_SIGN_UP_URL=/sign-up

GOOGLE_CLIENT_ID=xxxxx-xxxxxxxxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=xxxxxxxxxx
GOOGLE_REDIRECT_URI=http://localhost:3000
GOOGLE_REFRESH_TOKEN=1//xxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_DRIVE_FOLDER_ID=xxxxxxxxxxxxxxxxxx